/* Don't forget to include this in HTML! */

:root {
    font-size: 2rem;
}

/* ref: https://codepen.io/skeate/pen/YPyqWd/ */
.circle {
    position: absolute;
    background: #accede;
    text-align: center;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
}

.circle::before {
    content: '';
    height: 100%;
    width: 50%;
    float: left;
    shape-outside: polygon(0 0, 100% 0, 60% 4%, 40% 10%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%, 5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0% 100%);
}

.circle > span::before {
    content: '';
    height: 100%;
    width: 50%;
    float: right;
    shape-outside: polygon(100% 0, 0 0, 40% 4%, 60% 10%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%, 95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%);
}